<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${classVO.basePackageName}.mapper.${classVO.className}Mapper">
    <resultMap id="BaseResultMap" type="${classVO.basePackageName}.entity.${classVO.className}">
    #foreach($field in $fields)
    #if($field.columnName == 'id')
        <id column="id" jdbcType="$field.columnType" property="id" />
    #else
        <result column="${field.columnName}" jdbcType="$field.columnType" property="$field.fieldName" />
    #end
    #end
    </resultMap>
    #set($baseList = '')
    #foreach($field in $fields)
        #set($baseList = $baseList+$field.columnName)
        #if($foreach.hasNext)
            #set($baseList = $baseList + ',')
        #end
    #end

    <sql id="Base_Column_List">
        ${baseList}
    </sql>

</mapper>